<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.geasy.marketing.dao.customer.CustomerDynamicMapper">
    <resultMap id="Base_Result_Map" type="cn.com.geasy.marketing.domain.dto.customer.CustomerDynamicDto">
        <id property="id" column="id" jdbcType="BIGINT" javaType="Long"/>
        <result property="headImgUrl" column="head_img_url" jdbcType="VARCHAR" javaType="String"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR" javaType="String"/>
        <result property="event" column="event" jdbcType="TINYINT" javaType="Integer"/>
        <result property="eventDate" column="event_date" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result property="articleId" column="article_id" jdbcType="BIGINT" javaType="Long"/>
        <result property="articleTitle" column="article_title" jdbcType="VARCHAR" javaType="String"/>
        <result property="userId" column="user_id" jdbcType="BIGINT" javaType="Long"/>
        <result property="articleTag" column="article_tag" jdbcType="VARCHAR" javaType="String"/>
        <result property="readTime" column="read_time" jdbcType="INTEGER" javaType="Integer"/>
        <result property="isFullRead" column="is_full_read" jdbcType="TINYINT" javaType="Integer"/>
    </resultMap>

    <resultMap id="Customer_Dynamic_Statistics_Map" type="cn.com.geasy.marketing.domain.dto.customer.CustomerDynamicStatisticDto">
        <result property="event" column="event" jdbcType="TINYINT" javaType="Integer"/>
        <result property="count" column="event_count" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>

    <resultMap id="Customer_Article_Dynamic_Statistics_Map" type="cn.com.geasy.marketing.domain.dto.customer.CustomerArticleDynamicStatisticsDto">
        <result property="articleTitle" column="article_title"  javaType="String"/>
        <result property="readCustomerCount" column="read_customer_count" javaType="Integer"/>
        <result property="fullReadCustomerCount" column="full_read_customer_count" javaType="Integer"/>
        <result property="averageReadSeconds" column="average_read_seconds" javaType="Integer"/>
    </resultMap>

    <resultMap id="Customer_Interaction_Dynamic_Statistics_Map" type="cn.com.geasy.marketing.domain.dto.customer.CustomerInteractionDynamicStatisticsDto">
        <result property="customerId" column="customer_id"  javaType="Long"/>
        <result property="nickName" column="nick_name" javaType="String"/>
        <result property="headImgUrl" column="head_img_url" javaType="String"/>
        <result property="interactionCount" column="interaction_count" javaType="Integer"/>
    </resultMap>
    
    <resultMap id="First_One_In_Event_Map" type="cn.com.geasy.marketing.domain.dto.customer.CustomerLifecycleEventDto">
        <result property="event" column="event" jdbcType="TINYINT" javaType="Integer"/>
        <result property="eventDate" column="event_date" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getCustomerDynamics" resultMap="Base_Result_Map">
        SELECT cd.id, cd.customer_id, cd.event, cd.event_date, cd.article_id, cd.article_title, cd.user_id,cd.article_tag,cd.read_time,cd.is_full_read,
        wc.head_img_url, wc.nick_name
        FROM customer_dynamic cd
        LEFT JOIN customer c on cd.customer_id = c.id
        LEFT JOIN wx_contact wc on c.wx_contact_id = wc.id
        <where>

           ${ew.sqlSegment}
        </where>
    </select>

    <select id="getCustomerDynamicStatistics" resultMap="Customer_Dynamic_Statistics_Map">
        SELECT event , count(event) as event_count
        FROM customer_dynamic
        <where>
            status =1
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getCustomerArticleDynamicStatistics" resultMap="Customer_Article_Dynamic_Statistics_Map">
        SELECT
          article_title,
          count(article_title) AS read_customer_count,
          count(CASE WHEN is_full_read = 1 THEN is_full_read END ) AS full_read_customer_count,
          avg(read_time) AS average_read_seconds
        FROM
          customer_dynamic
        <where>
            status =1
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="getCustomerInteractionDynamicStatistics" resultMap="Customer_Interaction_Dynamic_Statistics_Map">
        SELECT
          cd.customer_id,
          wc.nick_name,
          wc.head_img_url,
          count(cd.event) AS interaction_count
        FROM
          customer_dynamic cd
        LEFT JOIN customer c ON cd.customer_id = c.id
        LEFT JOIN wx_contact wc ON c.wx_contact_id = wc.id
        <where>
            cd.status =1
            ${ew.sqlSegment}
        </where>

    </select>
    <select id="getCustomerIdByCustomerInteractionDynamic" resultType="Long" parameterType="cn.com.geasy.marketing.domain.dto.customer.CustomerDynamicDto">
        SELECT cd.customer_id
        FROM customer_dynamic cd
        <where>

              cd.status =1

            <if test="event != null">
               AND cd.event = #{event}
            </if>
            <if test="startTimeStr != null and startTimeStr != ''">
                AND cd.create_time  &gt;= '${startTimeStr} 00:00:00'
            </if>

            <if test="endTimeStr != null and endTimeStr != ''">
                AND cd.create_time    &lt;=  '${endTimeStr} 23:59:59'
            </if>
        </where>
        GROUP BY cd.customer_id
        HAVING count(cd.customer_id) ${symbol}  ${frequency}
        <!--ORDER BY cd.customer_id ASC-->
    </select>

    <select id="getFirstOneInEvent" parameterType="Long" resultMap="First_One_In_Event_Map">
        SELECT
          a.event,
          min(a.event_date) AS event_date
        FROM
          customer_dynamic a
        WHERE
          a.event IN (0, 1, 2, 3)
        AND a.customer_id = #{customerId}
        GROUP BY
          a. EVENT
    </select>

</mapper>