<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.geasy.marketing.dao.customer.CustomerMapper">
    <resultMap id="CustomerDtoMap" type="cn.com.geasy.marketing.domain.dto.customer.CustomerDto">
        <id property="id" column="id" jdbcType="BIGINT" javaType="Long"/>
        <result property="headImgUrl" column="head_img_url" jdbcType="VARCHAR" javaType="String"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR" javaType="String"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR" javaType="String"/>
        <result property="remark" column="remark" jdbcType="VARCHAR" javaType="String"/>
        <result property="phone" column="phone" jdbcType="VARCHAR" javaType="Long"/>
        <result property="maturity" column="maturity" jdbcType="TINYINT" javaType="Integer"/>
        <result property="isAddWechat" column="is_sync" jdbcType="TINYINT" javaType="Integer"/>
        <result property="isOpenAccount" column="is_open_account" jdbcType="TINYINT" javaType="Integer"/>
    </resultMap>

    <select id="findById" resultMap="CustomerDtoMap" parameterType="cn.com.geasy.marketing.domain.dto.customer.CustomerDto">
        SELECT ct.ID,wx.head_img_url,wx.nick_name,wx.user_name,ct.remark,ct.phone,ct.maturity,wx.is_sync,ct.is_open_account
        FROM customer ct INNER JOIN wx_contact wx ON ct.wx_contact_id = wx.ID
         <where>
             <if test="id != null">
                 ct.ID = #{id}
             </if>
         </where>
        and ct.status = 1
    </select>
</mapper>