<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.geasy.marketing.dao.system.SysUserMapper">
    <resultMap id="Base_Result_Map" type="cn.com.geasy.marketing.domain.dto.system.SysUserDto">
        <id property="id" column="id" javaType="Long"/>
        <result property="id" column="id" javaType="Long"/>
        <result property="username" column="username" javaType="String"/>
        <result property="password" column="password" javaType="String"/>
        <result property="realName" column="real_name" javaType="String"/>
        <result property="wxUin" column="wx_uin" javaType="Long"/>
        <result property="wxUsername" column="wx_username" javaType="String"/>
        <result property="wxNickname" column="wx_nickname" javaType="String"/>
        <result property="wxHeadImgUrl" column="wx_head_img_url" javaType="String"/>
        <result property="wxSex" column="wx_sex" javaType="Integer"/>
        <result property="wxSignature" column="wx_signature" javaType="String"/>
    </resultMap>
    <sql id="Base_Column_List">
        su.id AS id,
        su.username AS username,
        su.password AS password,
        su.real_name AS real_name,
        su.wx_uin AS wx_uin,
        su.wx_username AS wx_username,
        su.wx_nickname AS wx_nickname,
        su.wx_head_img_url AS wx_head_img_url,
        su.wx_sex AS wx_sex,
        su.wx_signature AS wx_signature
    </sql>
    <select id="findByUsername" resultMap="Base_Result_Map">
        SELECT
          <include refid="Base_Column_List"/>
        FROM sys_user su
        WHERE su.status = 1 AND su.username = #{username}
    </select>

    <select id="findByWxUin" resultMap="Base_Result_Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user su
        WHERE su.status = 1 AND su.wx_uin = #{wxUin}
    </select>

    <update id="updateByUsername" parameterType="cn.com.geasy.marketing.domain.dto.system.SysUserDto">
        UPDATE sys_user SET
            wx_uin=#{user.wxUin},
            wx_username=#{user.wxUsername},
            wx_nickname=#{user.wxNickname},
            wx_head_img_url=#{user.wxHeadImgUrl},
            wx_sex=#{user.wxSex},
            wx_signature=#{user.wxSignature}
            WHERE status = 1 AND username=#{user.username}
    </update>
</mapper>