<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.geasy.marketing.dao.wechat.ChatRecordsMapper">
    <resultMap id="Base_Result_Map" type="cn.com.geasy.marketing.domain.dto.wechat.WxCustomerDto">
        <id property="id" column="id" jdbcType="BIGINT" javaType="Long"/>
        <result property="customerId" column="customer_id" javaType="Long"/>
        <result property="wxUsername" column="wx_username" jdbcType="VARCHAR" javaType="String"/>
        <result property="headImgUrl" column="head_img_url" jdbcType="VARCHAR" javaType="String"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR" javaType="String"/>
        <result property="msgType" column="msg_type" jdbcType="TINYINT" javaType="Integer"/>
        <result property="content" column="content" jdbcType="VARCHAR" javaType="String"/>
        <result property="url" column="url" jdbcType="VARCHAR" javaType="String"/>
        <result property="isSend" column="is_send" jdbcType="TINYINT" javaType="Integer"/>
        <result property="sendTime" column="send_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="findUncontactCustomer" resultMap="Base_Result_Map" parameterType="java.util.Map">
        SELECT t3.*,t1.* FROM (
          select t.id,t.head_img_url,t.nick_name,t.user_id from wx_contact t
            <where>
                <if test="userId!=null">
                    t.create_user= ${userId}
                </if>
            </where>
           ) t1
        left join customer t2 on t1.id = t2.wx_contact_id
        left join  (
        <!--按用户分组获取最新一条聊天记录（mysql 分组 求top）-->
                        select a1.*  from (
                            select a.id,a.customer_id,a.wx_username,a.msg_type,a.content,a.url,a.is_send,a.send_time,a.create_user FROM chat_records a
                            <where>
                                <if test="userId!=null">
                                    a.create_user= ${userId}
                                </if>
                            </where>
                        ) a1 left join (
                            select b.* from chat_records b
                            <where>
                                <if test="userId!=null">
                                    b.create_user= ${userId}
                                </if>
                            </where>
                        ) b1 ON a1.wx_username = b1.wx_username AND a1.send_time <![CDATA[ < ]]> b1.send_time

                        GROUP BY a1.wx_username,a1.send_time,a1.id HAVING COUNT(b1.id) <![CDATA[ < ]]>  1
                        <if test="isSort==1">
                            ORDER BY a1.send_time DESC
                        </if>
            )t3 on t3.customer_id = t2.id
        order by t3.send_time
        <!-- 关联关系：chat_records .customer_id  __ (customer.id __customer.wx_contact_id )  __ wx_contact.id  -->
    </select>

    <select id="getChatConsumersByWxContactIdList" resultMap="Base_Result_Map" parameterType="java.util.Map">
        SELECT * FROM (
        SELECT r.*,wc.head_img_url,wc.nick_name
        FROM wx_contact wc
        INNER JOIN customer c ON c.wx_contact_id = wc.id
        INNER JOIN  (
        SELECT a.id,a.customer_id,a.wx_user_name, a.msg_type,a.content,a.url, a.is_send,a.send_time
        FROM chat_records a
        LEFT JOIN chat_records b ON a.wx_user_name = b.wx_user_name  AND a.send_time <![CDATA[ > ]]> b.send_time
        <where>
            a.status = 1
            <if test="userId!=null">
                AND a.create_user= ${userId}
            </if>
        </where>
        GROUP BY a.wx_user_name, a.send_time HAVING COUNT(b.id) <![CDATA[ < ]]> 1
        <if test="isSort==1">
            ORDER BY a.send_time DESC
        </if>
        ) r ON c.id = r.customer_id
        WHERE 1 = 1 AND wc.status = 1
        AND r.send_time  &gt;= '${startTime} 00:00:00'
        AND r.send_time  &lt;=  '${endTime} 23:59:59'
        <if test="wxContactIdList !=null and wxContactIdList.size >0">
            AND wc.id IN
            <foreach collection="wxContactIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="orderByStr !=null">
                ORDER BY  INSTR  ${orderByStr}
            </if>
        </if>
        ) t ORDER BY t.send_time ASC
    </select>

</mapper>