<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.geasy.marketing.dao.wechat.MpUserMapper">
    <resultMap id="Base_Result_Map" type="cn.com.geasy.marketing.domain.entity.wechat.MpUser">
        <id property="id" column="id" javaType="Long"/>
        <result property="id" column="id" javaType="Long"/>
        <result property="mpNickname" column="mp_nickname" javaType="String"/>
        <result property="mpHeadImgUrl" column="mp_head_img_url" javaType="String"/>
        <result property="mpOpenid" column="mp_openid" javaType="String"/>
        <result property="mpUuid" column="mp_uuid" javaType="String"/>
        <result property="mpProvince" column="mp_province" javaType="Long"/>
        <result property="mpCity" column="mp_city" javaType="String"/>
        <result property="mpCountry" column="mp_country" javaType="String"/>
        <result property="mpAddress" column="mp_address" javaType="String"/>
        <result property="mpSubscribe" column="mp_subscribe" javaType="Integer"/>
        <result property="status" column="status" javaType="Integer"/>
        <result property="createUser" column="create_user" javaType="date"/>
        <result property="createTime" column="create_time" javaType="Integer"/>
        <result property="updateUser" column="update_user" javaType="Integer"/>
        <result property="updateTime" column="update_time" javaType="Integer"/>
    </resultMap>
    <sql id="Base_Column_List">
        mu.id AS id,
        mu.mp_nickname AS mp_nickname,
        mu.mp_head_img_url AS mp_head_img_url,
        mu.mp_openid AS mp_openid,
        mu.mp_uuid AS mp_uuid,
        mu.mp_province AS mp_province,
        mu.mp_city AS mp_city,
        mu.mp_country AS mp_country,
        mu.mp_address AS mp_address,
        mu.mp_subscribe AS mp_subscribe,
        mu.status AS status,
        mu.create_user AS createUser,
        mu.create_time AS createTime,
        mu.update_user AS updateUser,
        mu.update_time AS updateTime
    </sql>
    <select id="findMpUserBySubcriptionUserId" resultMap="Base_Result_Map">
        select
        <include refid="Base_Column_List"/>
        from mp_user mu
        join article_subscription AS ast on wu.id = ast.user_id
        where ast.subscription = 1 and ast.subscription_user_id = #{userId}
    </select>
    <select id="findMpUserManager" resultMap="Base_Result_Map">
        select
          <include refid="Base_Column_List"/>
        from mp_user mu
            join rele_user_role AS rur on mu.id = rur.user_id
        where <![CDATA[rur.role_id < 4]]>
        </select>
</mapper>